<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="views/home/css/home.css"></a>
	</head>
	
    <body>
    	<div class="home-container">
	    	<div class="row description-container col-md-12">
	    		<div class ="col-md-12">
	    			<h1 class="lander-text">
	    				Find Your Perfect Car
	    			</h1>
		    	</div>
	    		<div class="col-md-12">
	    			<div class="description-text">
	    				statistics and user opinions all in one place
	    			</div>
	    		</div>
	    		<div class="col-md-12">
					<button ng-click="go('/search')" class="btn btn-info search-button">
						Search Vehicles Now
					</button>
	    		</div>
	    		<div class="col-md-12">
					<div class="login-register-text">
						<a href="#login">Login</a> or <a href="#register">register</a> to favorite cars and interact with the community
					</div>
	    		</div>
    		</div>
    	</div>
    </body>
</html>
